@model IEnumerable<GetCats.Models.ImageViewModel>

@{
    ViewBag.Title = "Get Cats";
}



<div class="container">
    
    <div class="row">
        <div class="form-group search">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchBox">
                    <span class = "input-group-addon" style="background-color: lightgrey; cursor: pointer;" onclick="list()"><i class="glyphicon glyphicon-search" style="font-size: large; color: white;"></i></span>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(function() {
            list();
        });

        // Just to trigger a search on "enter"
        $('#searchBox')
            .keypress(function(e) {
                if (e.which == 13) {
                    list();
                    return false;
                }
            });


        // Listing images. If theres a value in the searchBox use that to get images with names containing that value.
        function list() {

            // This part concerns search
            $("#list").empty();
            var search = $("#searchBox").val();

            var imagesUrl = "/api/images/getimages";

            if (search) {
                imagesUrl += "?search=" + search;
                $("#searchBox").val = "";
            }


            // Async get images from API.
            $.getJSON(imagesUrl,
                function(result) {
                    $.each(result,
                        function(index, item) {
                            var url = "/Images/" + item.Id + item.FileName;
                            $("#list")
                                .append(
                                    '<li class="list-group-item tilt">' +
                                    '<a class="listItem" id= "' +
                                    item.Id +
                                    '"><img src="' +
                                    url +
                                    '" height="250" width="300" class="cursor-pointer"/> </a>' +
                                    '<div>' +
                                    item.Name +
                                    '</div>' +
                                    '<i class="glyphicon glyphicon-shopping-cart pull-right icons" style="cursor:pointer" onclick="addToCart(\'' +
                                    item.Options[0].Id +
                                    '\');"></i>' +
                                    '<i class="glyphicon glyphicon-fullscreen pull-right icons details cursor-pointer" id= "' +
                                    item.Id +
                                    '"></i>' +
                                    '</li>');
                        });

                    // Add on click listener on each listItem
                    $(".listItem, .details")
                        .click(function() {
                            var id = $(this).attr('id');
                            window.location.replace("/Image/Details?id=" + id);
                        });
                });
        }

    </script>

    <div id="bodyContainer">

        <ul class="list-group" id="list"></ul>

    </div>
</div>


