body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Comic Sans MS';
    background: url(img/bg.jpg) no-repeat right bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #222;
}

a {
  color: yellow;  
}

#logoImg {
    padding-top: 10px;
}

#home-carousel {
    background: #aaa;
}

.box { background: #fff;padding-top: 10px; padding-bottom: 10px; }

#cartTable {
    width: 100%;
    margin-bottom: 30px;
}

.cartRemoveBtn {
    max-height: 16px;
    max-width: 16px;
}

footer {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-top: 30px;
    width: 100%;
    color: black;
}

tbody td {
    padding-top: 8px;
    padding-bottom: 8px;
}
tbody td:first-child {
    padding-left: 5px;
    font-weight: bold;
}


tbody tr:nth-child(odd) {
    background-color: #eee;
}

thead tr {
    border-bottom: 3px solid #999;
}

footer p {
    text-align: center;
}

h2 { color: #fff; }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    font-size: large;
    background: none;
    border: 0;
}

.navbar a { color: #FFF !important; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* CONCERNING IMAGE LISTNING AND THUMBNAILS */
.list-group-item {
    float: left;
    margin: 15px;
    font-family: 'Chicle', cursive;
}

.icons {
    margin-left: 5px;
    margin-right: 5px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}




/* SEARCH */
.search {
    margin: 15px;
}